@media only screen and (min-width: 769px) {
    
    /*center nav bar on desktop*/
    .navbar .navbar-collapse {
        justify-content: center;
    }
    
    .navbar .navbar-toggler {
        display: none; 
    }
}

@media only screen and (min-width: 769px) {
    
    .calendar {
        margin-left:50px;
    }
    .navbar-logo {
        max-width: 30%;
        height: auto;
    }
    .audImg{
        transform:scale(1);
        text-align:right;

    }
    .google-map {
        padding-left:50px;
    }
    
}

@media (max-width: 768px) {
    .navbar-logo {
      max-width: 20%;
      height: auto;
    }
    
  }


.jumbotron {
    text-align: center;
    color: aliceblue;
    margin:0;
    padding:0;    
    background-image:url("img/abstract-luxury-blur-dark-grey-black-gradient-used-as-background-studio-wall-display-your-products.jpg");
    display: grid;
    height: 75vh;
    
}




header {
    margin-bottom: 30px;
}


.weekday {
    width:100%;
    list-style-type:none;
}

body {
    background-image: url("img/abstract-luxury-gold-yellow-gradient-studio-wall-well-use-as-background-layout-banner-product-presentation.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}


.nav-link {
    padding:0;
    margin:0;    
    font-family: 'Merienda', cursive;   
}

.formulaire {
    max-width: 600px;
}

.indexAds .card {
    background-image: url('img/abstract-luxury-blur-dark-grey-black-gradient-used-as-background-studio-wall-display-your-products.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0; 
    box-shadow: none;
    color:white;        
}