@media only screen and (min-width: 992px) {
    
    /*center nav bar on desktop*/
    .navbar .navbar-collapse {
        justify-content: center;
    }
    
    .navbar .navbar-toggler {
        display: none; 
    }
}


/*
.jumbocase {
    padding: 3px;
    background-color: aqua;
}

.jumbotext {
    
    text-align: center;
    margin:0;
    padding:0;
}
*/

.indexPic{
    margin-top:20px;
}
.carousel-item {
    height: 400px;
}

.google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.google-map iframe {    
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    transform: scale(0.8)
}

.mapRow {
    margin:20px 50px;
}

.weekday {
    width:100%;
    list-style-type:none;
}

