@media only screen and (min-width: 769px) {
    
    /*center nav bar on desktop*/
    .navbar .navbar-collapse {
        justify-content: center;
    }
    
    .navbar .navbar-toggler {
        display: none; 
    }
}

@media only screen and (min-width: 769px) {
    
    .calendar {
        margin-left:50px;
    }
    .navbar-logo {
        max-width: 30%;
        height: auto;
      }
    
    
}

@media (max-width: 768px) {
    .navbar-logo {
      max-width: 25%;
      height: auto;
    }
    
  }


.jumbocase {
    height:70vh;
    background-image:url("img/abstract-luxury-blur-dark-grey-black-gradient-used-as-background-studio-wall-display-your-products.jpg");
}

.jumbotext {
    
    text-align: center;
    color: aliceblue;
    margin:0;
    padding:0;
}
*/

header {
    margin-bottom: 30px;
}


.weekday {
    width:100%;
    list-style-type:none;
}

body {
    background-image: url("img/abstract-luxury-gold-yellow-gradient-studio-wall-well-use-as-background-layout-banner-product-presentation.jpg");
    background-size:cover;
}


.nav-link {
    padding:0;
    margin:0 30px;    
    font-family: 'Barlow', sans-serif;
    font-family: 'Merienda', cursive;   
}